body {
}

.pulse {
  margin: 100px;
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #f54254;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(222, 84, 98, 0.4);
  animation: pulse 1.5s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(247, 111, 125, 0.4);
    box-shadow: 0 0 0 0 rgba(247, 111, 125, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(242, 90, 96, 0);
    box-shadow: 0 0 0 10px rgba(242, 90, 96, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(240, 29, 50, 0);
    box-shadow: 0 0 0 0 rgba(240, 29, 50, 0);
  }
}
