body {
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	min-height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	font: 14px "Roboto", sans-serif;
	-webkit-font-font-smoothing: antialiased !important;
}

.header {
	height: 80px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: var(--color-backgroundHeader);
}

.page {
	min-height: 100vh;
	width: 90%;
	display: flex;
	flex-direction: column;
	align-self: center;
	background-color: var(--color-softWhite1);
}

.headerItem {
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin-left: 1rem;
	transition: background-color 0.4s ease;
	border-radius: 0.3rem;
	cursor: pointer;
}

.header span {
	font-size: 17px;
	color: white;
	align-items: center;
}

.headerItem:hover {
	color: white;
	background-color: var(--color-softBlack3);
}

.footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 80px;
	background-color: var(--color-backgroundHeader);
	color: white;
	padding: 0px 1rem 0px 1rem;
}

#title {
	padding: 1rem;
	transition: 0.5s ease-in-out;
	transform: scaleY(1);
}
.container {
	display: flex;
	width: 100%;
	height: 100%;
}

.content {
	width: 85%;
	padding: 1.5rem;
	transition: 0.5s ease-in-out;
	transform: scaleY(0);
	display: flex;
	flex-direction: column;
	position: absolute;
}

.gridContent {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-areas:
		"sobre_mim"
		"locais_trabalhados"
		"linguagens_de_programação";
	grid-template-columns: 50% 50%;
	grid-template-rows: 50 50%;
	padding: 1rem;
}
.gridContent div {
	transform: scaleY(1) !important;
	position: relative !important;
	border: 1px solid silver;
	margin: 1rem;
}

.content span {
	font-size: 20px;
	margin-top: 1rem;
	text-align: justify;
}
.content ul {
	padding: 1rem;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: red;
}
.content ul li {
	margin-top: 1rem;
	list-style-type: disc;
}
.content ul li img {
	margin-left: 1rem;
	border-radius: 0.5rem;
	width: 30px;
	height: 30px;
}
.content ol li {
	font-size: 20px;
	margin-top: 1rem;
}

:root {
	--color-aero: #8fb8de;
	--color-darkSienna: #280000;
	--color-razzmicBerry: #9b5094;
	--color-dimGray: #6a605c;
	--color-imperialRed: #f71735;
	--color-backgroundHeader: #212529;
	--color-softBlack1: #414a4c;
	--color-softBlack2: #3b444b;
	--color-softBlack3: #353839;
	--color-softBlack4: #232b2b;
	--color-softBlack5: #0e1111;
	--color-softWhite1: #ededed;
	--color-softWhite2: #fbfaf5;
}
